.grid {
    width: 50px;
    height: 50px;
    border: solid black 1px;
}

.column {
    display: inline-block;
}

#etching-grid {
    width: fit-content;

}

.outer-grid-div {
    display: flex;
    justify-content: center;
}

#new-grid-button {
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
}

.new-grid {
    text-align: center;
}

.title {
    font-size: 32px;
    text-align: center;
}